<h1>Students</h1>

<ol>
  <li *ngFor="let student of students">
    {{student.name}}, {{student.age}}, {{student.id}}, {{student.address}}, {{student.course}}
  </li>
</ol>

<h1>Weather in Galway</h1>
<h2>Weather</h2>
  <p *ngFor="let w of weather">
    {{w.main}}, {{w.description}}
  </p>
  <h2>Main</h2>
  <p>{{temp.temp}}</p>
  <p>{{temp.feels_like}}</p> 
  <p>{{temp.temp_min}}
  <p>{{temp.temp_max}}</p>
  <p>{{temp.pressure}}</p>
  <p>{{temp.humidity}}</p>
  <p>{{temp.sea_level}}</p>
  <p>{{temp.grnd_level}}</p>
  <h2>Wind</h2>
  <p>{{windy.speed}}</p>
  <p>{{windy.deg}}</p>
  <p>{{windy.gust}}</p>
